$accent: #63A60E;
$defoult: #FFFFFF;
$title: #121212;
$bg: #31352B;

%opensans-400 {
  font-family: 'Open Sans-Regular', sans-serif;
  font-weight: 400;
}
%opensans-600 {
  font-family: 'Open Sans-SemiBold' sans-serif;
  font-weight: 600;
}
%opensans-700 {
  font-family: 'Open Sans-Bold', sans-serif;
  font-weight: 700;
}
%ruda-600{
  font-family: 'Ruda-SemiBold',
  sans-serif;
  font-weight: 600;
}
%ruda-900{
  font-family: 'Ruda-Black',
  sans-serif;
  font-weight: 900;
}