.filters {
  font-weight: 700;
  font-size: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 51px;

  &__item {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__btn {   
    color: $dark-500;
    text-decoration: underline;
    text-decoration-color: transparent;
    outline: transparent;
    transition: text-decoration-color 0.3s color 0.3s;

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
    }

    &:hover {
      color: $green-800;
    }

    &:active {
      box-shadow: none;
      border-bottom: 3px solid $green-833;
    }
  }
}

