.promotions-card {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  position: relative;
  background-color: $white;
  border: 1px solid $black-100;
  border-radius: 6px;
  height: 100%;
  padding: 12px;

  &:hover {
    border: 1px solid $green-800;
  }

  &__badges {
    position: absolute;
    top: 13px;
    left: 12px;
  }

  &__img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 100px;
    height: 100px;
  }

  &__info {
    letter-spacing: 3%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 13px;
  }

  &__name { 
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 3%;
    @include line-clamp(3);
    padding-bottom: 7px;
  }

  &__bottom { 
    position: relative;
  }

  &__status {
    display: flex;
    flex-direction: column;
  }

  &__prices {
    flex-direction: row;   
  }

  &__item {
    display: block;
  }

  &__cart {
    background-image: url('../images/sprite.svg#icon-cart');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 32px;
    height: 32px;
    bottom: 18px;
    right: 18px;
    background-color: $green-800;
    border-radius: 3px;
  }
}

.promotions-prices {
  font-weight: 600;
  font-size: 14px;

  &__item--old {
    font-weight: 400;
    font-size: 12px;
    color: $silver-600;
    position: relative;
    margin-left: 12px;

    &::before {
      content: "";
      border-bottom: 1px solid $silver-600;
      position: absolute;
      width: 80%;
      height: 70%;
      transform: rotate(-16deg);
    }
  } 
}

.status {
  &__item {
    color: $green-800;
    display: none;

    &--ends {
      color: $red-900;
    }

    &--no {
      color: $silver-600;
    }

    &--on {
      display: block;
    }
  }
}

.rating {
  position: absolute;
  bottom: 12px;
  right: 12px;
}
